.OpenMenu_wrapper {
  border-radius: 15px;
  border: 2px solid var(--light-grey);
  background: var(--bg-light-grey);
  width: 90px;
  height: 280px;
  position: absolute;
  left: 18px;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17.22px;
  z-index: 99999;
}

.OpenMenu_wrapper a {
  text-decoration: none;
}

.OpenMenu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 600;
  font-size: 16.8px;
  letter-spacing: 0.168px;
}

.OpenMenu_item:hover {
    cursor: pointer;
    background: #fffefe;
}

