.About_profile__wrapper {
    color: white;
    display: flex;
    gap: 87px;
    max-width: calc(338px + 87px + 526px);
    width: 100%;
    margin: calc(46px - 33.5px) auto;
}

/* 
Profile img styles */

.About_profile__image {
    max-width: 338px;
    width: 100%;
    height: 320px;
    border-radius: 119px;
    border: 4.5px solid var(--border-grey);
    /* background: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 22px;
}

.About_profile__image__wrapper {
    max-width: 294px;
    width: 100%;
    height: 280px;
    border-radius: 109px;
    background: var(--border-grey);
}

.About_profile__image__wrapper img {
    width: 100%;
    height: 100%;
}

/* 
Profile content styles */

.About_profile__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.About_profile__skills h3 {
    font-size: 22.5px;
    letter-spacing: .9;
    margin: 10px 0;
}

.About_profile__skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.About_skills {
    width: 152px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.6px;
}