.App_header {
    color: #FFF;
    text-align: center;
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: calc((100vh - (114px + 45px)) / 2 - (282px / 2));
}

.App_header h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 72px;
    /* 90% */
    letter-spacing: 0.8px;
    margin: 0;
    margin-bottom: 6px;
}

.App_header p {
    font-weight: 400;
    line-height: 26px;
    /* 130% */
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    font-size: 20px;
}

.App_header__action {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.App_content__btn,
.App_content__btn a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    max-width: 140px;
    width: 100%;
    font-size: 21px;
    font-weight: 400;
}

.App_content__btn:hover {
    cursor: pointer;
    background: var(--bg-light-grey);
    color: #000;
}

.App_footer__btn {
    margin-right: auto;
    position: absolute;
    bottom: calc(45px - (56px / 2) + 10px);
    left: 60px;
    font-size: 26px;
    font-weight: 700;
}

.App_foot__divider {
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 45px;
}